.HomePage
    width: fit-content
    min-height: 90vh

    //margin: 5vh auto 0 auto
    margin: 1rem
    box-sizing: border-box
    border-radius: 1rem
    
    font-size: 2rem
    font-weight: 300
    color: green

    display: flex
    flex-direction: column