.CreatePostButton
    width: 10rem
    height: 3rem

    color: #000000
    font-weight: 500
    background-color: #31A436
    border-radius: 1rem
    cursor: pointer

    display: flex
    justify-content: center
    align-items: center

    transition: 100ms

    &:hover
        background-color: #156a19
        transform: scale(0.99)
