@mixin scrollbar()
    &::-webkit-scrollbar 
        position: fixed
        width: 0.3rem
        box-sizing: border-box
  
    &::-webkit-scrollbar-thumb 
        position: fixed
        border: 1px solid #31A436
        border-radius: 10px

    &::-webkit-scrollbar-corner
        all: unset

body
    font-size: 2rem
    font-weight: 300
    color: #31A436
    background-color: black

    margin: 0
    padding: 0
    box-sizing: border-box !important

    @include scrollbar()

.firebase-emulator-warning 
    display: none !important
